In [1]:
# Import necessary libraries
import pandas as pd

# Load parquet and csv files into DataFrames and print headers
df_p65 = pd.read_parquet('full_p65_with_nearest.parquet')
print("Headers for full_p65_with_nearest.parquet:")
print(df_p65.head())
print(df_p65.columns)

df_jcc = pd.read_csv('jcc_counts.csv')
print("\nHeaders for jcc_counts.csv:")
print(df_jcc.head())
print(df_jcc.columns)

Headers for full_p65_with_nearest.parquet:
  benchmark                        title  \
0         1       Division Director ‐ PX
1         1       Division Director ‐ PX
2         1       Division Director ‐ PX
3         2  Division Operations Manager
4         2  Division Operations Manager

                                  group    code  \
0  Executives and Senior Administrators  PA0112
1  Executives and Senior Administrators  PA0112
2  Executives and Senior Administrators  PA0112
3  Executives and Senior Administrators  PA0113
4  Executives and Senior Administrators  PA0113

                                        family  BU schedule  original_range  \
0  PA01 ‐ Executives and Senior Administrators  XE      N00            27.0
1  PA01 ‐ Executives and Senior Administrators  XE      N00            27.0
2  PA01 ‐ Executives and Senior Administrators  XE      N00            27.0
3  PA01 ‐ Executives and Senior Administrators  SS      200            24.0
4  PA01 ‐ Executives and Senior Administrators  SS      200            24.0

  step  ak_annual_salary  market_target_annual_salary  percentile  \
0    A            117371                     146594.0          65
1    F            140166                     168178.0          65
2    O            169806                     201433.0          65
3    A            108867                     110261.0          65
4    E            124654                     129996.0          65

   nearest_range  range_change
0             30             3
1             30             3
2             30             3
3             24             0
4             25             1
Index(['benchmark', 'title', 'group', 'code', 'family', 'BU', 'schedule',
       'original_range', 'step', 'ak_annual_salary',
       'market_target_annual_salary', 'percentile', 'nearest_range',
       'range_change'],
      dtype='object')

Headers for jcc_counts.csv:
      JCC  Count
0  PJ0312    645
1  PL0304    259
2  PJ0103    251
3  PB0152    204
4   M0044    199
Index(['JCC', 'Count'], dtype='object')

In [2]:
# Group by 'code', find the index of max 'range_change' for each group, and select those rows
df_p65_filtered = df_p65.loc[df_p65.groupby('code')['range_change'].idxmax()]

print(df_p65_filtered.head())
print(df_p65_filtered.columns)

# Inner join df_jcc with df_p65_filtered on 'code' and 'JCC'
df_p65_filtered = pd.merge(df_p65_filtered, df_jcc[['JCC', 'Count']].rename(columns={'Count': 'headcount', 'JCC': 'code'}), on='code', how='left')

df_p65_filtered['headcount'] = df_p65_filtered['headcount'].fillna(0).astype(int)

df_p65_filtered.head()

   benchmark                        title  \
0          1       Division Director ‐ PX
4          2  Division Operations Manager
6          3           Office Assistant 1
9          4                    Secretary
12         5        Executive Secretary 3

                                   group    code  \
0   Executives and Senior Administrators  PA0112
4   Executives and Senior Administrators  PA0113
6      Administrative and Office Support  PB0102
9      Administrative and Office Support  PB0130
12     Administrative and Office Support  PB0137

                                         family  BU schedule  original_range  \
0   PA01 ‐ Executives and Senior Administrators  XE      N00            27.0
4   PA01 ‐ Executives and Senior Administrators  SS      200            24.0
6                 PB01 ‐ General Administration  GP      200             8.0
9                 PB01 ‐ General Administration  XE      N00            11.0
12                PB01 ‐ General Administration  XE      N00            16.0

   step  ak_annual_salary  market_target_annual_salary  percentile  \
0     A            117371                     146594.0          65
4     E            124654                     129996.0          65
6     A             34983                      43186.0          65
9     A             43115                      56890.0          65
12    A             59534                      73930.0          65

    nearest_range  range_change
0              30             3
4              25             1
6              12             4
9              15             4
12             19             3
Index(['benchmark', 'title', 'group', 'code', 'family', 'BU', 'schedule',
       'original_range', 'step', 'ak_annual_salary',
       'market_target_annual_salary', 'percentile', 'nearest_range',
       'range_change'],
      dtype='object')

,benchmark,title,group,code,family,BU,schedule,original_range,step,ak_annual_salary,market_target_annual_salary,percentile,nearest_range,range_change,headcount
0,1,Division Director ‐ PX,Executives and Senior Administrators,PA0112,PA01 ‐ Executives and Senior Administrators,XE,N00,27.0,A,117371,146594.0,65,30,3,78
1,2,Division Operations Manager,Executives and Senior Administrators,PA0113,PA01 ‐ Executives and Senior Administrators,SS,200,24.0,E,124654,129996.0,65,25,1,61
2,3,Office Assistant 1,Administrative and Office Support,PB0102,PB01 ‐ General Administration,GP,200,8.0,A,34983,43186.0,65,12,4,68
3,4,Secretary,Administrative and Office Support,PB0130,PB01 ‐ General Administration,XE,N00,11.0,A,43115,56890.0,65,15,4,0
4,5,Executive Secretary 3,Administrative and Office Support,PB0137,PB01 ‐ General Administration,XE,N00,16.0,A,59534,73930.0,65,19,3,11

In [3]:
# Get 25 rows with lowest headcount
lowest_headcount = df_p65_filtered.nsmallest(25, 'headcount')[['code', 'title', 'headcount', 'range_change']]
print("Lowest 25 headcounts:")
print(lowest_headcount)

# Get 25 rows with highest headcount
highest_headcount = df_p65_filtered.nlargest(25, 'headcount')[['code', 'title', 'headcount', 'range_change']]
print("\nHighest 25 headcounts:")
print(highest_headcount)

# Get 25 rows with highest range_change
highest_range_change = df_p65_filtered.nlargest(25, 'range_change')[['code', 'title', 'headcount', 'range_change']]
print("\nHighest 25 range changes:")
print(highest_range_change)

Lowest 25 headcounts:
       code                                              title  headcount  \
3    PB0130                                          Secretary          0
21   PB0325                            Labor Relations Manager          0
43   PB07A3                            Application Developer 3          0
44   PB07B2                              IT Business Analyst 2          0
45   PB07C2                     IT Client Support Specialist 2          0
46   PB07D2                           Database Administrator 2          0
47   PB07E1                            IT Support Technician 1          0
48   PB07J2                               IT Project Manager 2          0
49   PB07M1                                       IT Manager 1          0
50   PB07N2        Network and Telecommunications Specialist 2          0
51   PB07P1                   IT Policy and Planning Analyst 1          0
52   PB07R1                       IT Architecture Specialist 1          0
53   PB07S1                           IT Security Specialist 1          0
54   PB07U2                     IT Quality Assurance Analyst 2          0
55   PB07V2                                IT Vendor Manager 2          0
56   PB07Y2                         IT Systems Administrator 2          0
73   PC0252                        Utility Financial Analyst 2          0
74   PC0254                        Utility Financial Analyst 4          0
83   PC0310                    Radiological Health Physicist 1          0
119  PD0473                 State Logistics Center Coordinator          0
122  PD0502  Airport Manager ‐ Fairbanks International Airport          0
130  PD0632                 Reservation Call Center Supervisor          0
135  PD0656                 AMHS Safety Management Coordinator          0
136  PD0669               Marine Engineering Assistant Manager          0
144  PD0810                             Right‐of‐Way Assistant          0

     range_change
3               4
21              4
43              3
44              2
45              2
46              1
47              3
48              0
49              3
50              2
51             -1
52              3
53              1
54              2
55              2
56              1
73              4
74              2
83              5
119             7
122             0
130             3
135            -1
136             1
144             1

Highest 25 headcounts:
       code                                            title  headcount  \
5    PB0152                       Administrative Assistant 2        204
244  PG0211                           Certified Nurse Aide 1        179
289  PI0214                                       Attorney 4        159
193  PF0112                         Eligibility Technician 2        144
327  PK0213               Environmental Program Specialist 3        136
9    PB0206                          Accounting Technician 2        110
264  PH0103                   Fish and Wildlife Technician 3        106
6    PB0154                         Administrative Officer 1        100
243  PG0210                             Assisted Living Aide         99
217  PF0202                 Protective Services Specialist 2         98
58   PB9909                            Program Coordinator 1         90
286  PI01A2                           Law Office Assistant 2         89
287  PI01B2                                      Paralegal 2         87
265  PH0112                              Fishery Biologist 2         85
245  PG0233                  Psychiatric Nursing Assistant 3         84
220  PF0222                        Social Services Associate         81
0    PA0112                           Division Director ‐ PX         78
238  PG0122                         Health Program Manager 2         69
2    PB0102                               Office Assistant 1         68
11   PB0214                                     Accountant 4         67
247  PG0312                                          Nurse 2         65
215  PF01A1           Child Support Enforcement Specialist 1         64
282  PI0101                    Criminal Justice Technician 1         64
305  PI0531  Motor Vehicle Customer Service Representative 1         63
1    PA0113                      Division Operations Manager         61

     range_change
5              -1
244             1
289             3
193             0
327             4
9               1
264             3
6               0
243             2
217             2
58              1
286             2
287             2
265             2
245             1
220             2
0               3
238             4
2               4
11              1
247            -1
215             0
282             3
305             2
1               1

Highest 25 range changes:
       code                                              title  headcount  \
98   PC0504                                   Tax Technician 4          3
110  PD0202                                        Economist 2          3
225  PF0324                Human Rights Field Representative 4          1
119  PD0473                 State Logistics Center Coordinator          0
268  PH0142                                     Biometrician 2          9
30   PB0514                                 Research Analyst 4         12
115  PD0412                  Emergency Management Specialist 2         28
231  PF0460                  Vocational Rehabilitation Manager          4
236  PF0531                      Employment Services Manager 1          7
83   PC0310                    Radiological Health Physicist 1          0
111  PD0222                              Petroleum Economist 2          2
123  PD0505                  International Airports Controller          1
160  PE0140                Education Coordinator (Corrections)         15
189  PE0622                          Publications Technician 2          3
206  PF0160                   Workers' Compensation Technician          9
214  PF0193          Chief, Public Assistance Field Operations          1
222  PF0302  Civil Rights Programs and Compliance Specialist 2          2
275  PH0353            Wildland Fire and Resource Technician 3         43
322  PK0123                                          Chemist 3          4
324  PK0137                             Geological Scientist 1          3
2    PB0102                                 Office Assistant 1         68
3    PB0130                                          Secretary          0
21   PB0325                            Labor Relations Manager          0
26   PB0503                           Statistical Technician 2          3
27   PB0511                                 Research Analyst 1          8

     range_change
98              9
110             9
225             9
119             7
268             7
30              6
115             6
231             6
236             6
83              5
111             5
123             5
160             5
189             5
206             5
214             5
222             5
275             5
322             5
324             5
2               4
3               4
21              4
26              4
27              4

In [4]:
# Total count of job classes studied that have a 0 headcount
zero_headcount_count = (df_p65_filtered['headcount'] == 0).sum()
print(f"Total count of job classes studied with a 0 headcount: {zero_headcount_count}")

# Count of the job titles that need a three or more range increase
high_range_change_count = (df_p65_filtered['range_change'] >= 3).sum()
print(f"Count of job titles that need a three or more range increase: {high_range_change_count}")

# Weighted average range increase needed based on the headcount
weighted_average_range_increase = (df_p65_filtered['headcount'] * df_p65_filtered['range_change']).sum() / df_p65_filtered['headcount'].sum()
print(f"Weighted average range increase needed based on the headcount: {weighted_average_range_increase:.2f}")

Total count of job classes studied with a 0 headcount: 33
Count of job titles that need a three or more range increase: 104
Weighted average range increase needed based on the headcount: 1.49

In [5]:
# Count of the job titles and headcount that need a three or more range increase
high_range_change_count = df_p65_filtered[df_p65_filtered['range_change'] >= 3]
print(f"Count of job titles that need a three or more range increase: {high_range_change_count.shape[0]}")
print(f"Headcount of employees that need a three or more range increase: {high_range_change_count['headcount'].sum()}")

# Percentage of workforce that needs at least a 1 range increase
at_least_one_range_increase = df_p65_filtered[df_p65_filtered['range_change'] > 0]
percentage_at_least_one_range_increase = (at_least_one_range_increase['headcount'].sum() / df_p65_filtered['headcount'].sum()) * 100
print(f"Percentage of workforce that needs at least a 1 range increase: {percentage_at_least_one_range_increase:.2f}%")

# Percentage of workforce that needs at least a 2 range increase
at_least_two_range_increase = df_p65_filtered[df_p65_filtered['range_change'] >= 2]
percentage_at_least_two_range_increase = (at_least_two_range_increase['headcount'].sum() / df_p65_filtered['headcount'].sum()) * 100
print(f"Percentage of workforce that needs at least a 2 range increase: {percentage_at_least_two_range_increase:.2f}%")

# Number of employees that need at least a 3 range increase
at_least_three_range_increase = df_p65_filtered[df_p65_filtered['range_change'] >= 3]
employees_at_least_three_range_increase = at_least_three_range_increase['headcount'].sum()
print(f"Number of employees that need at least a 3 range increase: {employees_at_least_three_range_increase}")

# Number of employees that need at least a 4 range increase
at_least_four_range_increase = df_p65_filtered[df_p65_filtered['range_change'] >= 4]
employees_at_least_four_range_increase = at_least_four_range_increase['headcount'].sum()
print(f"Number of employees that need at least a 4 range increase: {employees_at_least_four_range_increase}")

Count of job titles that need a three or more range increase: 104
Headcount of employees that need a three or more range increase: 1500
Percentage of workforce that needs at least a 1 range increase: 73.21%
Percentage of workforce that needs at least a 2 range increase: 48.84%
Number of employees that need at least a 3 range increase: 1500
Number of employees that need at least a 4 range increase: 505